
$logo-color: #49205E;
$main-purple: #BB0DBE;
$main-purple-faded: rgba(187, 13, 190, 0.8);
$light-pink-purple: #FFE7FF;
$links-yellow-green: #E2EF70;

$whitest-white: #FFFFFF;
$background-white: #FCFCFC;
$red-icon-color: rgb(244, 56, 56);

@import "../../node_modules/bootstrap/scss/functions";
@import "../../node_modules/bootstrap/scss/variables";
@import"../../node_modules/bootstrap/scss/bootstrap.scss";
