// @import "../../node_modules/bootstrap/scss/functions";
// @import "../../node_modules/bootstrap/scss/variables";

// testing bootstrap modification
$primary: #BB0DBE;
$secondary:  rgba(187, 13, 190, 0.8);
$dark: #49205E;
$light: #FFE7FF;
$success: #E2EF70;
$info: #E2EF70;
$warning: #ff0;
$danger: #f00;



//import bootstrap
// @import "~bootstrap/scss/bootstrap.scss";
@import"../../node_modules/bootstrap/scss/bootstrap.scss";