
.navbar{
  background-color: primary; 
}

.navbar-brand {
  color: dark;
}

.navbar-nav, .navbar-link {
  color: success;

  &:hover {
    color: secondary;
  }
}

@import"../../node_modules/bootstrap/scss/bootstrap.scss";